.container {
    display: block;
    justify-content: left;
    height: 100%;
/* Green background color for the solitaire */
}

.solitaire {
    display: block;
    justify-content: left;
}

.card {
    height: 350px;
    width: 200px;
    /* margin-right: 20px; Adjust the margin between cards */
    background-size: cover;
    position: absolute; /* Allows absolute positioning of the cards */
    border: 2px solid red;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

#A-D {
    margin-left: 0;
    left: 40;
    top: 0;
    z-index: 1;
}

#K-D {
    margin-left: 20px; /* Adjust the margin for the K-D card */
    left: 35;  top: 95;
    z-index: 2;
}

#Q-D {
    margin-left: 40px; /* Adjust the margin for the Q-D card */
    left: 30px;
    z-index: 3;
}

#J-D {
    margin-left: 60px; /* Adjust the margin for the J-D card */
    left: 25px;
    z-index: 4;
}

#D-10 {
    margin-left: 80px; /* Adjust the margin for the 10-D card */
    z-index: 5;
}
